# Docker hub usename 
DOCKERHUB_USER=youruser


# Database Secrets (Change if you are not in testing stage)
POSTGRES_USER=appuser
POSTGRES_PASSWORD=apppass
POSTGRES_DB=appdb
POSTGRES_PORT=5432

POSTGRES_HOST=db
